.containerList {
  display: flex;
  align-items: center;
  height: 72px;
  border-radius: 8px;
  padding: 1rem;
  gap: .75rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}
.containerList p {
  flex: 1;
}
.trashSvg {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 4px;
}
.trashSvg:disabled {
  opacity: .6;
  cursor: not-allowed;
}

.trashSvg:not(:disabled):hover {
  width: 24px;
  height: 24px;
  background: var(--gray-400);
  border-radius: 4px;
  color: var(--danger);
  cursor: pointer;
}
.textTasksSucess {
  opacity: .6;
  text-decoration-line: line-through;
}
.boxOptionTask{
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: .5rem;
}
.boxOptionTask p {
  font-size: .875rem;
  color: var(--gray-300);
  opacity: .7;
}
.checkboxWrapper input {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 999px;
  margin-right: .5rem;
  border: 3px solid var(--blue);
  outline: none;
  cursor: pointer;
}

.checkboxWrapper input:not(:disabled):hover {
  border: 3px solid var(--blue-dark);
}

.checkboxWrapper input:disabled, input:disabled:checked {
  opacity: .4;
}

input:checked {
  background: var(--purple-dark);
  border-color: var(--purple-dark);
  position: relative;
}
input:not(:disabled):checked:hover {
  background: var(--purple);
  border-color: var(--purple);
}
input:checked::before {
  content: "\2714";
  font-size: 14px;
  color: var(--gray-100);
  position: absolute;
  right: 1px;
  top: -2px;
}

@media (min-width: 768px) {
  .containerList {
    align-items: start;
  }
}