.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 .4rem;
}

@media (min-width: 768px) {
  .container {
    gap: 4rem;
    justify-content: center;
    grid-template-columns: 740px;
  }
}